<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0Hje5CEucvKJKCj4b5EIwOFh8ZlPBsUw</string>
	<key>GCM_SENDER_ID</key>
	<string>416281920348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.isefProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>isefproject-f92d3</string>
	<key>STORAGE_BUCKET</key>
	<string>isefproject-f92d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416281920348:ios:970d8f7133f9a7bdf6b799</string>
</dict>
</plist>